@import 'reset-css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Pretendard', sans-serif;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
}
#root {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.mobile-layout {
  width: 375px;
  height: 667px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

* {
  box-sizing: border-box;
}

/* 장소 컴포넌트 위치 관련 클래스 */
.place-card-container {
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  z-index: 10;
}

/* global.css 혹은 styles/globals.css 등 */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
